
/*******************************************************************/
/*  Normalize
/*******************************************************************/

    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
    audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
    [hidden] { display: none; }

    html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    body { margin: 0; font-size: 13px; line-height: 1.231; }
    body, button, input, select, textarea { font-family: sans-serif; color: #fff; }

    a { color: #00e; }
    a:visited { color: #551a8b; }
    a:hover { color: #06e; }
    a:focus { outline: thin dotted; }
    a:hover, a:active { outline: 0; }

    abbr[title] { border-bottom: 1px dotted; }
    b, strong { font-weight: bold; }
    blockquote { margin: 1em 40px; }
    dfn { font-style: italic; }
    hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
    ins { background: #ff9; color: #000; text-decoration: none; }
    mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
    pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
    q { quotes: none; }
    q:before, q:after { content: ""; content: none; }
    small { font-size: 85%; }
    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }
    ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
    dd { margin: 0 0 0 40px; }
    nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
    svg:not(:root) { overflow: hidden; }
    figure { margin: 0; }

    form { margin: 0; }
    fieldset { border: 0; margin: 0; padding: 0; }
    label { cursor: pointer; }
    legend { border: 0; *margin-left: -7px; padding: 0; }
    button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
    button, input { line-height: normal; *overflow: visible; }
    table button, table input { *overflow: auto; }
    button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
    input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
    input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
    input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
    button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
    textarea { overflow: auto; vertical-align: top; resize: vertical; }
    input:valid, textarea:valid {  }
    input:invalid, textarea:invalid { background-color: #f0dddd; }

    table { border-collapse: collapse; border-spacing: 0; }
    td { vertical-align: top; }

/************************************************************/
/* Default 
/************************************************************/

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px; top: 0px;
}

.presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: block;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: none;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}

.slide {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 900px;
  height: 700px;
  background-color: #eee;
  background: -webkit-gradient(linear, left bottom, left top, from(#bbd), to(#fff));
  background: -moz-linear-gradient(bottom, #bbd, #fff);
  background: linear-gradient(bottom, #bbd, #fff);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.slide p, .slide textarea {
  font-size: 20px;
}

.slide:not(.transitionSlide) .counter:after {
  content: '';
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  bottom: 0;
  right: 45px;
  opacity: 0.25;
}

.slide.title > .counter,
.slide.segue > .counter,
.slide.mainTitle > .counter {
  display: none;
}

.slide.transitionSlide h2 {
  font-size: 40px;
  margin: 0;
  line-height: 10px;
}
.slide.transitionSlide p {
  margin: 0;
}

.slide.transitionSlide img {
  opacity: 0.25;
  width: 64px;
  height: 64px;
}

.vbox {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-align: stretch;

  display: box;
  box-orient: vertical;
  box-align: stretch;
}

.hbox {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;

  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-align: stretch;

  display: box;
  box-orient: horizontal;
  box-align: stretch;
}

.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

.noflex {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

.boxcenter {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
}

.slide.far-past {
  display: block;
  margin-left: -2400px;
}

.slide.past {
  visibility: visible;
  display: block;
  margin-left: -1400px;
}

.slide.current {
  visibility: visible;
  display: block;
}

.slide.future {
  visibility: visible;
  display: block;
  margin-left: 500px;
}

.slide.far-future {
  display: block;
  margin-left: 1500px;
}

header {
  font-family: 'Droid Sans', sans-serif;
  font-weight: normal;
  letter-spacing: -.05em;
  text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px;
  position: absolute;
  left: 30px;
  top: 25px;
  margin: 0;
  padding: 0;
  font-size: 50px;
}

h1 {
  font-size: 100%;
  display: inline;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 15px 0 5px 0;
}
      
h2:first-child {
  margin-top: 0;
}

footer {
  font-size: 12px;
  margin: 20px 0 0 30px;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: 110%;
  border-bottom: 2px solid #3f3f3f;
}

.gmap a {
  line-height: 100%;
  border-bottom: none;
}

li {
  list-style: none;
  padding: 10px 0;
}

button {
  font-size: 20px;
}

pre button {
  margin: 2px;
}

.summary {
  font-size: 30px;
}

.bullets {
  font-size: 40px;
}

section.left {
  float: left;
  width: 390px;
}

section.small {
  font-size: 24px;
}

section.small ul {
  margin: 0 0 0 15px;
  padding: 0;
}

section.small li {
  padding-bottom: 0;
}

pre {
  text-align: left;
  font-family: 'Droid Sans Mono', Courier;
  padding: 10px 20px;
  background: rgba(255, 0, 0, 0.05);
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid rgba(255, 0, 0, 0.2);
}

pre select {
  font-family: Monaco, Courier;
  border: 1px solid #c61800;
}
  
input {
  font-size: 16px;
  margin-right: 10px;
  font-family: Helvetica;
  padding: 3px 5px;
}
input[type="range"] {
  width: 100%;
}

button {
  font-family: Verdana;
}

button.large {
  font-size: 32px;
}
  
pre b {
  font-weight: normal;
  color: #c61800;
  text-shadow: #c61800 0 0 1px;
  /*letter-spacing: -1px;*/
}
pre em {
  font-weight: normal;
  font-style: normal;
  color: #18a600;
  text-shadow: #18a600 0 0 1px;
}
pre input[type="range"] {
  height: 6px;
  cursor: pointer;
  width: auto;
}

[data-build] > * {
  -webkit-transition: opacity 0.5s ease-in-out 0.2s; 
  -moz-transition: opacity 0.5s ease-in-out 0.2s; 
  -o-transition: opacity 0.5s ease-in-out 0.2s; 
}

[data-build] > *.to-build {
  opacity: 0;
}

